.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 90px;
	background-color: #FEF5EB;
	font-family: "Inter", sans-serif;
}

/* LOGO */
.logo a {
	font-size: 18px;
	text-decoration: none;
	color: black;
}

/* LINKS */
.links {
	display: flex;
	gap: 30px;
	align-items: center;
}

.links a,
.dropdown span {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 25px;
}

.dropdown span {
  cursor: pointer;
}

.links a:hover {
	color: #e9952f;
}

/* BUTTON */
.button {
	background-color: #e9952f;
	color: white;
	padding: 10px 18px;
	border-radius: 6px;
	font-weight: 600;
	text-decoration: none;
    font-size: 12px;
	margin-right: 30px;
}

.button:hover {
	background-color: #cf7f1f;
}

/* DROPDOWN */
.dropdown {
	position: relative;
	cursor: pointer;
}

.dropdownContent {
	display: none;
	position: absolute;
	top: 30px;
	background: white;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdownContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.userMenu {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.userName {
  font-size: 16px;
  font-weight: 500;
}

.userDropdown {
  display: none;
  position: absolute;
  top: 45px;
  left: 52px;
  flex-direction: column;
  gap: 6px;
  background: #fff7ee;
  padding: 8px 0;
  min-width: 120px;
  z-index: 50;
}

.userDropdown a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.userMenu:hover .userDropdown {
  display: flex;
}

.logoutLink {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  font: inherit;
  font-size: 14px;
  cursor: pointer;
  color: #000;
}